{% extends 'base.html.twig' %}

{% block title %}Brin de Zinc{% endblock %}

{% block body %}
<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Concerts à Chambery</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div> -->
<div class="container">
  <h2 class="text-center text-primary">Brin de Zinc</h2>



  <!-- BRIN DE ZINC -->
  {% for title in titles %}
  <p>Groupe : {{title}}</p>
  <p>Description :<br> {{descriptions[0]}}</p>
  <p><a href="http://www.brindezinc.fr/{{links[loop.index0]}}"target="_blank">Plus d'infos (site officiel)</a></p>
  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2793.443966297973!2d5.945403315411793!3d45.56150993496634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478ba8d9b31565eb%3A0x1746f14b6e23ab3a!2sLe+Brin+de+Zinc!5e0!3m2!1sen!2sfr!4v1558867700522!5m2!1sen!2sfr" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> -->
  <hr style="border-color:white">
  {% endfor %}
  <!-- FIN BRIN DE ZINK -->



</div>
{% endblock %}